# Site (see https://github.com/wowthemesnet/mediumish-theme-jekyll)
name: "Lilian C. Cheung"
title: "Lilian C. Cheung"
description: "Hello, World!"
logo: 'assets/images/mountain_logo.svg'
favicon: 'assets/images/mountain_logo.svg'
baseurl: '/personal-blog'
#google_analytics: 'UA-46278016-1'
#disqus: 'disqus_id'
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  lilian:
    name: Lilian
    display_name: Lil
    avatar: 'assets/images/self_vector.png'
    web: https://www.lilianccheung.com
    description: 'Hello'

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives

# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'

# Pagination
paginate: 6
paginate_path: /page:num/

# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
# adsense-data-ad-client: "ca-pub-3412143450191416"
# adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "disabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]
